{% extends 'base.html.twig' %}

{% block title %}Quizz Pole Dance > Remerciements
{% endblock %}
{% block body %}
	<div class="row">
		<div class="col-3 p-4">
			<h1>Créé par :</h1>
			<ul class="">
				<li class="">Vincent Bonnier</li>
				<li class="">Guillaume Fix</li>
				<li class="">Yannick Decombes</li>
				<li class="">Hermann Ledent</li>
				<li class="">Evan Rousseau</li>
				<li class="">Remi Delfosse</li>
				<li class="">Dorian Doussain</li>
				<li class="">Thomas Boidun</li>
				<li class="">Céline Darras</li>
				<li class="">Paul Guerin</li>
				<li class="">Jeremy Peyrat</li>
				<li class="">William Richer</li>
				<li class="">Lucas Artel</li>
				<li class="">Wilfrid Benoit</li>
				<li class="">Messan Afangbom</li>
				<li class="">Alexis Bory</li>
				<li class="">Thomas Gillmé</li>
				<li class="">Marie Jassigneux</li>
			</ul>
		</div>
		<div class="col-3 p-4">
			<hr />
			<ul>
				<li>Guillaume Melenchon</li>
				<li>Alexis Larochette</li>
				<li>Yves Hénot</li>
				<li>Jingwen Pourpoint</li>
				<li>Abdelhak Belaïd</li>
				<li>Julien Grenier</li>
				<li>Younes Harrat</li>
				<li>Kilian Tournon</li>
				<li>David Saniez</li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="col-12">
			<a class="btn btn-secondary col-sm-12 col-lg-4" href="https://github.com/vincentkollebolle/quizzpoledance/" target="_blank">
				Retrouvez le code du projet sur Github
			</a>
		</div>
	</div>

{% endblock %}
