{% block credits %}
<div class="flex items-center flex-col w-full rounded-lg bg-darkTransparent p-5 text-white mt-5">
    <h3> Credits aux créateurs: </h3>
    <ul class="flex justify-center flex-wrap">
        <li class="m-1 border rounded-full px-2">Vincent Bonnier</li>
        <li class="m-1 border rounded-full px-2">Guillaume Fix</li>
        <li class="m-1 border rounded-full px-2">Yannick Decombes</li>
        <li class="m-1 border rounded-full px-2">Hermann Ledent</li>
        <li class="m-1 border rounded-full px-2">Evan Rousseau</li>
        <li class="m-1 border rounded-full px-2">Remi Delfosse</li>
        <li class="m-1 border rounded-full px-2">Dorian Doussain</li>
        <li class="m-1 border rounded-full px-2">Thomas Boidun</li>
        <li class="m-1 border rounded-full px-2">Céline Darras</li>
        <li class="m-1 border rounded-full px-2">Paul Guerin</li>
        <li class="m-1 border rounded-full px-2">Jeremy Peyrat</li>
        <li class="m-1 border rounded-full px-2">William Richer</li>
        <li class="m-1 border rounded-full px-2">Lucas Artel</li>
        <li class="m-1 border rounded-full px-2">Wilfrid Benoit</li>
        <li class="m-1 border rounded-full px-2">Messan Afangbom</li>
    </ul>
</div>
{% endblock %}
