{% block credits %}
    <h3> Credits</h3>
    <div>
        <h5>Developers</h5>
        <ul>
            <li>Vincent Bonnier</li>
            <li>Guillaume Fix</li>
            <li>Yannick Decombes</li>
            <li>Hermann Ledent</li>
            <li>Evan Rousseau</li>
            <li>Remi Delfosse</li>
            <li>Dorian Doussain</li>
            <li>Thomas Boidun</li>
            <li>Céline Darras</li>
            <li>Paul Guerin</li>
            <li>Jeremy Peyrat</li>
            <li>William Richer</li>
            <li>Lucas Artel</li>
            <li>Wilfrid Benoit</li>
            <li>Messan Afangbom</li>
        </ul>
    </div>
{% endblock %}
