{% extends 'base.html.twig' %}

{% block title %}Modification réponse{% endblock %}

{% block body %}
<div class="flex items-center flex-col w-full rounded-lg bg-darkTransparent p-5 text-white">
    <h1 class="mb-6">Modification réponse</h1>

    {{ include('answer/_form.html.twig', {'button_label': 'Modifier'}) }}

    {# <a class="md-btn" href="{{ path('answer_index') }}">back to list</a> #}

    {# {{ include('answer/_delete_form.html.twig') }} #}
</div>
{% endblock %}
