{% extends 'base.html.twig' %}

{% block title %}New Answer{% endblock %}

{% block body %}
<div class="flex items-center flex-col w-full rounded-lg bg-darkTransparent p-5 text-white">
    <h1>Ajout d'une réponse</h1>

    {{ include('answer/_form.html.twig') }}

</div>
{% endblock %}
