<form class="mt-5" method="post" action="{{ path('question_delete', {'id': question.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ question.id) }}">
    <a class="md-btn" href="{{ path('question_edit', {'id': question.id}) }}"><button type="button" class="btn btn-light">Modifier</button></a>
    <a class="md-btn" href="{{ path('question_index') }}"><button type="button" class="btn btn-light">Retour à la liste</button></a>
    <button class="md-btn btn btn-danger">Supprimer</button>
</form>
