
<div class="w-full flex flex-col items-center mt-5" style="position:relative">
    <img class="rounded-lg mb-5" width="300" src="{{playeranswer.question.mediaurl}}" alt="Card image cap">
    <div style="    position: absolute;
    background: white;
    color: black;
    padding: 10px;
    width: 80%;
    font-size: 29px;
    font-weight: bold;
    opacity: 80%;
    border-radius: 20px;
    text-align: center;
    top: 59px;"> 
          
        {% if playeranswer.status == "yes" %} 
            Trop fort.e !
        {% else %}
            ah bah non c'est pas ça ! 
        {% endif %}
    </div>
    <div style="font-size:100px;position:absolute;top:10px;right:10px;">
        {% if playeranswer.status == "yes" %} 
            &#128513;
        {% else %}
            &#128529;
        {% endif %}
    </div>
    <h5 class="text-lg mb-3">{{playeranswer.question.content}}</h5>
    <div class="mb-6">
        {% for answer in playeranswer.question.answers %}
            <div class="rounded-t-xl overflow-hidden bg-gradient-to-r from-emerald-50 to-teal-100 p-1">
                <div class="text-center">
                    <div type="button" 
                    class="py-2 px-4 bg-emerald-500 text-white font-semibold rounded-lg shadow-md focus:outline-none  
                        {% if answer == playeranswer.pickedanswer %}border border-gray{% endif %}" tabindex="-1">
                       {% if playeranswer.question.goodanswer.id == answer.id %}&#10004;
                       {% else %}
                       <span>&#10060;</span>
                       {% endif %}
                       {{answer.content}}
                    </div>
                </div>
            </div>
        {% endfor %}
        <div class="rounded-t-xl overflow-hidden bg-gradient-to-r from-emerald-50 to-teal-100 p-1">
                <div class="text-center">
                    <a type="button" 
                    href="{{ path("quizz_nextquestion", { id: playeranswer.quizz.id}) }}"
                    class="py-2 px-4 bg-blue-500 text-white font-semibold rounded-lg shadow-md focus:outline-none 
                      " tabindex="-1">
                        Question suivante 
                    </a>
                </div>
            </div>
    </div>
</div>