<div class="p-5 text-center text-white">
    <h2 class"text-center"> {{quizz.playername | upper}} &nbsp; 
        Question  {{ quizz.playeranswers|length }}/{{questions|length}} &nbsp;
        {{quizz.score}} <span class="text-lg">points</span>
    </h2>
</div>
