<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
    html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

    body {  
      background: rgb(52,211,153);
      background: linear-gradient(0deg, rgba(52,211,153,1) 0%, rgba(59,130,246,1) 100%);
    }
    </style>
    {% block stylesheets %}
          
    {% endblock %}
    <title>{% block title %}Welcome!{% endblock %}</title>
  </head>
  <body>
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-dark bg-primary my-4">
        <a class="navbar-brand" href="#">Pole Dance Quizz</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{{path('answer_index')}}">Answer Index </a>
            </li>
            <li class="nav-item">
              <a class="nav-link"  href="{{path('question_index')}}">Question Index </a>
            </li>
            <li class="nav-item">
              <a class="nav-link"  href="{{path('quizz')}}">Take the quizz </a>
            </li>
          </ul>
        </div>
      </nav>
       
        <div class="row">
            <div class="col-12">
                 {% block body %}{% endblock %}
            </div>
        </div>
    </div>

    <!-- Optional JavaScript; choose one of the two! -->
    
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
  </body>
</html>