<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
    html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

    body {  
      background: rgb(52,211,153);
      background: linear-gradient(0deg, rgba(52,211,153,1) 0%, rgba(59,130,246,1) 100%);
    }
    </style>
    {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
    {% endblock %}
    <title>{% block title %}Welcome!{% endblock %}</title>
  </head>
  <body>
    <div class="container">
        <div class="row">
         {% for message in app.flashes('success') %}
            <div class="alert alert-success mt-4">
                {{ message }}
            </div>
        {% endfor %}
        </div>
        <div class="row">
            <div class="col-12">
                 {% block body %}{% endblock %}
            </div>
        </div>
    </div>

    <!-- Optional JavaScript; choose one of the two! -->
    
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
  </body>
</html>