{# templates/bundles/TwigBundle/Exception/error.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
<div class="flex items-center flex-col w-full rounded-lg bg-darkTransparent p-5 text-white">

        <h1 style="text-align:center; font-size:1.5rem;">
           Cette page n'est pas accessible 
        </h1>

    <p style="text-align:center">
        La page demandée n'a pas pu être localisée. 
    </p>

    <div class="d-flex justify-content-center">
        <a  href="{{path('quizz')}}"><button type="button" class="btn btn-light">Retourner sur l'accueil</button></a>
    </div>

</div>
{% endblock %}
