{% extends 'base.html.twig' %}

{% block body %}
<div class="flex items-center flex-col w-full rounded-lg bg-darkTransparent p-5 text-white">
    <div id="custom-404">

        <h1 style="text-align:center; font-size:1.5rem;">
           Cette page n'est pas accessible 
        </h1>

        <div class="d-flex justify-content-center ">
            <p style="font-size:100px">&#128527; &#128528; &#128529;</p>
        </div>
        <div class="d-flex justify-content-center">
        <a  href="{{path('quizz')}}"><button type="button" class="btn btn-light">Retourner sur l'accueil</button></a>
        </div>
    </div>
</div>
{% endblock %}