{# templates/bundles/TwigBundle/Exception/error.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
<div class="flex items-center flex-col w-full rounded-lg bg-darkTransparent p-5 text-white">

    <h1>Page Inaccessible</h1>

    <p style="text-align:center">
        La page demandée n'a pas pu être localisée. 
        <button class="w-full items-center"><a class="md-btn w-full flex flex-col items-center mt-5" href="{{path('quizz')}}">Retourner sur l'accueil</a></button>
    </p>
</div>
{% endblock %}
