{% extends 'base.html.twig' %}

{% block title %}Quizz Pole Dance{% endblock %}

{% block body %}
    <div class="flex items-center flex-col w-full rounded-lg bg-darkTransparent p-5 text-white">
    <img style="width:250px;" class="rounded-full my-3" src="{{ asset("img/logo.jpg")}}" alt="logo quizz pole dance" />
    <div class="answer-msg-smiley" style="font-size:52px">
            &#128513;
    </div>
     <h1 class="text-lg my-4">Bravo !</h1>
      <p class="text-lg">
        Vous êtes arrivé au bout de ce quizz !
      </p>
      <h1 class="text-lg my-4">Votre score est de {{quizz.score}} points !</h1> 
      <a href="{{ path("quizz_history") }}" class="btn btn-secondary col-2 mb-2">Voir le classement </a>
      <button class="button share_twitter btn btn-secondary col-2 mb-2" data-url="http://poledance.vincentbonnier.com/">
      Partager sur Twitter
      </button>
      <button class="button share_facebook btn btn-secondary col-2 mb-2" data-url="http://poledance.vincentbonnier.com/">
      Partager sur Facebook
      </button>     
    </div>

    <script>
(function(){

    var popupCenter = function(url, title, width, height){
        var popupWidth = width || 640;
        var popupHeight = height || 320;
        var windowLeft = window.screenLeft || window.screenX;
        var windowTop = window.screenTop || window.screenY;
        var windowWidth = window.innerWidth || document.documentElement.clientWidth;
        var windowHeight = window.innerHeight || document.documentElement.clientHeight;
        var popupLeft = windowLeft + windowWidth / 2 - popupWidth / 2 ;
        var popupTop = windowTop + windowHeight / 2 - popupHeight / 2;
        var popup = window.open(url, title, 'scrollbars=yes, width=' + popupWidth + ', height=' + popupHeight + ', top=' + popupTop + ', left=' + popupLeft);
        popup.focus();
        return true;
    };

    document.querySelector('.share_twitter').addEventListener('click', function(e){
        e.preventDefault();
        var url = this.getAttribute('data-url');
        var shareUrl = "https://twitter.com/intent/tweet?text=" + "J'ai réussi a faire " + {{quizz.score}} + " points sur " + encodeURIComponent(document.title)+
            "&url=" + encodeURIComponent(url) + ". Essai de faire plus que moi !";
        popupCenter(shareUrl, "Partager sur Twitter");
    });

    document.querySelector('.share_facebook').addEventListener('click', function(e){
        e.preventDefault();
        var url = this.getAttribute('data-url');
        var shareUrl = "https://www.facebook.com/sharer/sharer.php?u=" +  encodeURIComponent(url) ;
        popupCenter(shareUrl, "Partager sur facebook");
    });
})();</script>
{% endblock %}
