{% extends 'base.html.twig' %}

{% block title %}Question{% endblock %}

{% block body %}
     {% include 'quizz/bandeauplayer.html.twig' %}
     <div class="my-5 bg-darkTransparent items-center " style="width:600px;">
        {% include 'question/answeredquestion.html.twig'  %}
    </div>
{% endblock %}
